
<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white cuadro habilidades">
            <i class="bi bi-hdd-fill"></i>
            <h4>Backend</h4>
            <p>Trabajo desde el desarrollo, pruebas automáticas y puestas en producción.</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>ASP.NET Core, SQL Server y Nodejs</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>Dapper</li>
                <li>Queryes especiales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
        <div class="col col-3 bg-white cuadro2 habilidades">
            <i class="bi bi-code-slash"></i> 
            <h4>Frontend</h4>
            <p>Trabajo desde la interfaz, cumliendo los requerimientos del negocio.</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>JavaScript con Angular y Blazor</p>
            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                <li>Componentes</li>
                <li>Consumo de APIs</li>
                <li>Pipes</li>
                <li>Principios SOLID</li>
            </ul>
        </div>
    </div>
</div>
