@{
    DateTime fecha = DateTime.Now;
}

<div class="text-center">
    <h1 class="display-4">Soy J Fernando Nicolás Santiago</h1>
    <h5>Soy un desarrollador Full Stack especializado en tecnologías FrontEnd y Backend</h5>

    <img src="~/images/imagen.png" 
         alt="Foto de Fernando"
         class="img-fluid rounded-circle"
         id="foto" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h3>Te doy la bienvenida a mi portafolio</h3>
        <p>He estado desarrollando software profesionalmente desde el año 2018. He tenido el privilegio
            de trabajar para una empresa donde tuve la oportunidad de realizar proyectos para empresas como 
            Grupo ML Incloud y SOC Asesores, usando tecnologías como C#/ASP.NET con Entity Framework, 
            JavaScript (Angular), SQL Server, entre otros. 
        </p>
    </div>
</div>