@model IEnumerable<ProyectModel>

@if (Model is not null) {
    <div class="text-center" style="padding-top: 6rem;">
        <h3>Mis trabajos recientes</h3>
        <p>Aquí se visualizan algunos de mis trabajos más recientes</p>
    </div>

    <partial name="_ListadoProyectos" model="Model" />
}