@model HomeModel

@{
    ViewData["Title"] = "Página Principal";
}

<!-- Mostrando vista parcial -->
<partial name="_Presentacion" />

<partial name="_Habilidades" />

<partial name="_SeccionProyectos" model="Model.Proyectos" />

<div>Guid Transitorio: <b style="color: red">@Model.GuidExample.Transitorio</b></div>
<div>Guid Unico: <b style="color: green">@Model.GuidExample.Unico</b></div>
<div>Guid Delimitado: <b style="color: blue">@Model.GuidExample.Delimitado</b></div>