@model Persona 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Name (@Model.Age)</h1>
    <h5>Soy un desarrollador Full Stack especializado en tecnologías FrontEnd y Backend</h5>

    <img src="~/images/imagen.png" 
         alt="Foto de Fernando"
         class="img-fluid rounded-circle"
         id="foto" />
</div>
